@model PhonebookApp.Domain.Contact
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link href="../../Styles/style.css" rel="stylesheet" />
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script type="text/javascript">
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imageId')
                        .attr('src', e.target.result)
                        .width(223)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>

</header>
<section>
    <fieldset id="add-contact">
        <legend>Add</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Numbers)
                @Html.TextBoxFor(m => m.Numbers)
                @Html.ValidationMessageFor(m => m.Numbers)
            </li>
            <li>
                <input type="button" value="Add" id="add-number"/>
                <input type="button" value="Remove" id="remove-number"/>
            </li>
            <li>
                @Html.LabelFor(m => m.Address)
                @Html.TextAreaFor(m => m.Address)
            </li>
            <li>
                @Html.LabelFor(m => m.OfficeContact)
                @Html.TextBoxFor(m => m.OfficeContact)
                @Html.ValidationMessageFor(m => m.OfficeContact)
            </li>
            <li>
                @Html.LabelFor(m => m.HomeNumber)
                @Html.TextBoxFor(m => m.HomeNumber)
                @Html.ValidationMessageFor(m => m.HomeNumber)
            </li>
        </ol>
        <div id="image-viewer">
            <img id="imageId" src="../../Images/test-avatar.png" style="width : 223px; height : 200px;" alt="image"/>
        </div>
        <br />
        <div id="image-selector">
            @Html.LabelFor(m => m.ImageLink)
            <input type="file" name="File" onchange="readURL(this);" accept="image/gif, image/jpeg, image/png" />
        </div>
        
    </fieldset>
</section>

<script type='text/javascript'>
    $(function () {
        $('#remove-number').hide();
        $('#add-number').click(function (e) {
            e.preventDefault();
            $('#dynamic-number').append('<br/><input  type="text" name="Mobile[]" >');
            if ($('#dynamic-number input').size() > 1) {
                $('#remove-number').show();
            }

        });

        $('#remove-number').click(function (e) {
            e.preventDefault();
            $('#dynamic-number input:last').remove();
            $('#dynamic-number br:last').remove();


            if ($('#dynamic-number input').size() < 2) {
                $('#remove-number').hide();

            }


        });
    });

</script>